$font: sans-serif;
$small: 500px;
$medium: 800px;
$blue: #3573a8;

html, body {
  font-family: $font;
  line-height: 1.33;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  th, td {
    padding: 1em;
  }
  th {
    border-bottom: 2px solid black;
  }
}

a.button, button.button {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 5px 20px;;
  background: $blue;
  color: white;
  box-sizing: border-box;

  &:hover {
    background: white;
    box-shadow: 0 0 0 2px $blue;
    color: $blue;
  }
  &:active {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

div.wrapper {
  box-sizing: border-box;
  max-width: 700px;
  margin: auto;
  padding: 0 1rem;
}

div.spacer {
  height: 1rem;
  clear: both;
}

nav {
  padding: 0;

  button#hamburger {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      background: $blue;
    }
    &.is-active {
      position: fixed;
    }
    &:hover {
      opacity: 1 !important;
    }
    &:focus {
      outline: none !important;
    }
  }

  ul {
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;

      a {
        font-size: 1.25rem;
        padding: 5px .5em;
        transition: .1s ease;
        display: inline-block;
        font-weight: bold;
      }
    }
  }

  @media(min-width: $small) {
    a:hover:not(.edit), a.current {
      text-decoration: none;
      color: white;
      background: $blue;
    }

    button#hamburger {
      display: none;
    }
  }

  @media(max-width: $small) {
    padding: 0;

    button#hamburger {
      display: block;
    }
    ul#menu {
      position: fixed;
      overflow-y: auto;
      z-index: 1;
      margin: 0;
      padding: 0;
      padding-top: 2em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      list-style: none;

      li {
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        margin: 0 1em;
        border-bottom: 1px solid #ddd;
        line-height: 1.5;
        text-align: center;

        a {
          text-decoration: none;
        }
      }

      transition: .5s ease;
      transform: translatex(100%);
      &.visible {
        transform: translatex(0);
      }
    }
  }
}

div.edit {
  text-align: center;
  &.page {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
    img {
      width: 75px;
      height: auto;
    }
    a:before, button:before, a:after, button:after {
      display: none;
    }
  }
}

div.edit a, div.edit button, a.edit{
  font-family: inherit;
  font-size: 1rem !important;
  font-weight: normal !important;
  color: red !important;
  text-transform: none !important;
  text-decoration: none;
  color: inherit;
  border: none;
  display: inline;
  background: none;
  cursor: pointer;

  &:before {
    content: '[ ';
  }
  &:after {
    content: ' ]';
  }
}

section {
  clear: both;

  div.image {
    img {
      width: 100%;
    }
  }

  div.title {
    text-align: center;
  }

  div.content {
  }

  div.video {
    div.iframe {
      width: 100%;
      padding-bottom: 56%;
      position: relative;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  div.button {
    text-align: center;
    padding: 1em 0;
  }
}

section.contactsection {
  div#message {
    display: none;
  }
  textarea, input {
    font-family: inherit;
  }
}

/* Form elements */

form.cms {
  section {
    margin-top: 3em;
  }

  div.global_error {
    border: 2px dotted red;
    padding: 10px;
    margin: 1em -10px;
    background: #f001;
    color: red;
    font-weight: bold;
  }

  fieldset {
    padding: 2em;
    margin-bottom: 2em;
    border: 0.5px solid black;
    border-radius: 3px;

    legend {
      font-size: 1.15em;
    }
  }

  div.formfield {
    margin-bottom: 10px;
    clear: both;
    box-sizing: border-box;

    &.type, &.number, &.slug {
      width: 77%;
      clear: none;
      float: left;
    }
    &.number {
      width: 20%;
      float: right;
    }
  }
  div.formfield.error {
    border: 2px dotted red;
    padding: 10px;
    margin: 0 -10px;
    background: #f001;
  }
  div.formfield.required {
    div.label {
      font-weight: 700;
    }
    input {
      //font-weight: bold;
    }
  }

  div.label, label {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;
  }

  div.input {
    overflow: hidden;
  }

  div.helptext, span.required {
    color: #666;
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  span.required {
    font-style: italic;
  }

  input, select, textarea {
    background: white;
    color: black;
    border: 0.5px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 8px;
    font-family: inherit;
  }
  input[type=checkbox] {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
  input[name$=title] {
    font-weight: bold;
  }
  textarea {
    font-size: 1rem;
    height: 15em;
    line-height: 1.5;
  }
  select {
    background: white;
    padding-left: 3px;
  }

  ul.errorlist {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 12px !important;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .errors {
    color: red;
    font-weight: bold;
  }
}

