$font: sans-serif;
$small: 500px;
$medium: 800px;

html, body {
  font-family: $font;
  margin: 0;
  padding: 0;
}

div.wrapper {
  box-sizing: border-box;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

div.spacer {
  height: 1rem;
  clear: both;
}

header, nav, section, footer {
  padding: 1rem;
}

nav {
  button#hamburger {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      background: black;
    }
    &.is-active {
      position: fixed;
    }
    &:hover {
      opacity: 1 !important;
    }
    &:focus {
      outline: none !important;
    }
  }

  ul#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin: .5em;
      padding: 0;
      display: inline-block;

      a {
        transition: .1s ease;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 1.25em;

        &:hover, &.current {
          transform: scale(1.2);
          transform-origin: bottom;
        }
      }
    }
  }

  @media(min-width: $small) {
    button#hamburger {
      display: none;
    }
  }

  @media(max-width: $small) {
    padding: 0;

    button#hamburger {
      display: block;
    }
    ul#menu {
      position: fixed;
      overflow-y: auto;
      z-index: 1;
      margin: 0;
      padding: 0;
      padding-top: 2em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      list-style: none;

      li {
        display: block;
        padding: 1em;
        margin: 0 1em;
        border-bottom: 1px solid #ddd;
        line-height: 1.5;
        text-align: center;

        a {
          text-decoration: none;
        }
      }

      transition: .5s ease;
      transform: translatex(100%);
      &.visible {
        transform: translatex(0);
      }
    }
  }
}

div.edit {
  text-align: center;
  &.page {
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 1000;
  }
}

div.edit a, div.edit button, a.edit{
  font-size: 1rem !important;
  font-weight: normal !important;
  color: red !important;
  text-transform: none !important;
  text-decoration: none;
  color: inherit;
  border: none;
  display: inline;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:before {
    content: '[ ';
  }
  &:after {
    content: ' ]';
  }
}

article {
  section {
    clear: both;

    div.subsections {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div.subsection {
        div.wrapper {
          padding: 0;
        }
        flex: 0 0 30%;
        margin-bottom: 2em;
        box-sizing: border-box;

        div.title {
          font-size: 1.5em;
        }

        div.image {
          padding-top: 56%;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        @media(max-width: $medium) {
          flex-basis: 45%;
        }
        @media(max-width: $small) {
          flex-basis: 100%;
        }
      }
    }

    div.image {
      img {
        width: 100%;
      }
    }

    div.title {
      //font-size: 2em;
      text-align: center;
    }

    div.content {
    }

    div.video {
      div.iframe {
        width: 100%;
        padding-bottom: 56%;
        position: relative;

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    div.button {
      text-align: center;
      a {
        text-decoration: none;
        background: black;
        color: white;
        padding: 5px 15px;
        font-size: 1.5em;
        border-radius: 3px;
        display: inline-block;
      }
    }
  }
}

/* Form elements */

form.cms {
  div.global_error {
    border: 2px dotted red;
    padding: 10px;
    margin: 1em -10px;
    background: #f001;
    color: red;
    font-weight: bold;
  }

  fieldset {
    padding: 2em;
    margin-bottom: 2em;
    border: 0.5px solid black;
    border-radius: 3px;


    legend {
      font-size: 1.15em;
    }
  }

  div.formfield {
    margin: 5px 0;
    padding: 10px 0;
    font-size: 0;
  }
  div.formfield > * {
    font-size: 1rem;
  }
  div.formfield.error {
    border: 2px dotted red;
    padding: 10px;
    margin: 0 -10px;
    background: #f001;
  }
  div.formfield.required {
    div.label {
      font-weight: 700;
    }
    input, select, textarea {
      border: 1px solid black;
    }
  }

  div.label {
    font-size: 0.8rem;
    font-weight: 400;
  }

  div.input {
    overflow: hidden;
    margin: 5px 0;
  }

  div.helptext, span.required {
    color: #666;
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  span.required {
    font-style: italic;
  }

  input, select, textarea {
    background: white;
    color: black;
    border: 1px solid #aaa;
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
  }

  div.django-ckeditor-widget {
    display: block !important;
  }
  div.cke_chrome {
    box-sizing: border-box !important;
    border: 1px solid #aaa !important;
  }

  input[type=checkbox] {
    width: auto;
  }

  select {
    background: white;
  }

  div.filefield {
    border: 1px solid #aaa;
    background: white;
    padding: 4px;

    input { border: none }
  }

  ul.errorlist {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 12px !important;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .errors {
    color: red;
    font-weight: bold;
  }
}

