{% load i18n thumbnail embed_video_tags %}

{% block section %}
  <div class="wrapper">

    {% if section.image %}
      <div class="image">
        <img alt="{{section.title}}" src="{% thumbnail section.image 800x800 %}">
      </div>
    {% endif %}

    {% if section.title %}
      <div class="title">
        <h1>
          {{section.title}}
        </h1>
      </div>
    {% endif %}

    {% if section.content %}
      <div class="content">
        {{section.content|safe}}
      </div>
    {% endif %}

    {% if section.video %}
      <div class="video">
        <div class="iframe">
          {% video section.video '800x600' %}
        </div>
      </div>
    {% endif %}

    {% if section.subsections.exists %}
      <div class="subsections">
        {% for sub in section.subsections.all %}
          <div class="subsection color{{sub.color}}">
            {% with section=sub user=None %}
              {% include 'cms/sections/base.html' %}
            {% endwith %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.button_text %}
      <div class="button">
        <a class="button" href="{{section.button_link}}">{{section.button_text}}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extracontent %}{% endblock %}

{% if user.is_staff %}
  <div class="wrapper">
    <div class="edit">
      <a href="{% url 'cms:updatesection' section.pk %}">{% trans 'edit this section' %}</a>
    </div>
  </div>
{% endif %}
