{% extends 'cms/sections/base.html' %}
{% load i18n %}

{% block section %}
  <div class="wrapper">
    <div class="title">
      <h1>{{section.title}}</h1>
    </div>

    <div class="form">
      <form method="post" class="cms">
        {% csrf_token %}
        {% for field in section.form %}
          {% include 'cms/formfield.html' with field=field %}
        {% endfor %}
        <button class="button" name="section" value="{{section.pk}}">{% trans 'Send' %}</button>
      </form>
    </div>

  </div>
{% endblock %}
