{% load i18n thumbnail embed_video_tags %}
{% load markdown %}

<section class="{{section.type}} color{{section.color}}">
  <div class="wrapper">

    {% if section.image %}
      <div class="image">
        <img alt="{{section.title}}" src="{% thumbnail section.image 800x800 %}">
      </div>
    {% endif %}

    {% if section.title %}
      <div class="title">
        <h1>
          {{section.title}}
        </h1>
      </div>
    {% endif %}

    {% if section.content %}
      <div class="content">
        {{section.content|markdown}}
      </div>
    {% endif %}

    {% if section.video %}
      <div class="video">
        <div class="iframe">
          {% video section.video '800x600' %}
        </div>
      </div>
    {% endif %}

    {% if section.button_text %}
      <div class="button">
        <a class="button" href="{{section.button_link}}">{{section.button_text}}</a>
      </div>
    {% endif %}

    {% if request.user.is_staff %}
      <a class="edit" href="edit/{{section.number}}/">{% trans 'edit' %}</a>
    {% endif %}

  </div>
</section>
