{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as lang%}{{lang}}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'cms/cms.scss.css' %}">
    <link rel="stylesheet" href="{% static 'cms/hamburgers.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <main>
      {% block main %}

        <header>
          {% block header %}
          {% endblock %}
        </header>

        <nav>
          {% block nav %}
            <ul id="menu">
              {% for p in pages %}
                {% if p.slug %}
                  <li><a href="{% url 'cms:page' p.slug %}" {% if p.pk == object.pk %}class="current"{% endif %}>{{p.title}}</a></li>
                {% else %}
                  <li><a href="{% url 'cms:homepage' %}" {% if p.pk == object.pk %}class="current"{% endif %}>{{p.title}}</a></li>
                {% endif %}
              {% endfor %}
              {% if user.is_staff %}
                <li><a class="edit" href="{% url 'cms:createpage' %}">+ {% trans 'new page' %}</a></li>
              {% endif %}
            </ul>
            <button class="hamburger hamburger--collapse" id='hamburger'>
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          {% endblock %}
        </nav>

        <article>
          {% block content %}
          {% endblock %}
        </article>

        <footer>
          {% block footer %}
            {{footer|safe}}
          {% endblock %}
        </footer>

      {% endblock %}
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
          var hamburger = document.getElementById('hamburger');
          var menu = document.getElementById('menu');
          hamburger.addEventListener('click', function(e) {
              hamburger.classList.toggle('is-active');
              menu.classList.toggle('visible');
          });

          var links = document.querySelectorAll('a');
          for (var link of links) {
              var a = new RegExp('/' + window.location.host + '/');
              if (!a.test(link.href)) {
                  link.addEventListener('click', function(event) {
                      event.preventDefault();
                      event.stopPropagation();
                      window.open(this.href, '_blank');
                  });
              }
          }
      });
    </script>
    {% block extrabody %}{% endblock %}
  </body>
</html>
