{% extends 'admin.html' %}
{% load static i18n %}

{% block title %}{% trans 'Edit' %} {{form.instance}}{% endblock %}

{% block content %}
  <div class="wrapper">

    <form method="POST" enctype="multipart/form-data" class="cms">
      {% csrf_token %}
      {{form.media}}

      {% if form.errors or formset.errors %}
        <div class="global_error">
          {% trans 'Please correct the error(s) below and save again' %}
        </div>
      {% endif %}
      {% for field in form %}
        {% include 'cms/formfield.html' with field=field %}
      {% endfor %}

      <div id="{{formset.prefix}}">
        {{formset.management_form}}
        {% for form in formset %}
          <div class="formset_form" id="{{form.prefix}}" {% if forloop.last %}style="display:none"{% endif %}>
            {{form.media}}
            {% for field in form.hidden_fields %}
              {{field}}
            {% endfor %}

            {% for field in form.visible_fields %}
              <div class="field {{field.name}}">
                {% include 'cms/formfield.html' with field=field %}
              </div>
            {% endfor %}

            {% for formset in form.formsets %}
              <div class="field {{formset.name}}" id="{{formset.prefix}}">
                {{formset.management_form}}
                {% for form in formset %}
                  <div class="subform">
                    {{form.media}}
                    {% for field in form.hidden_fields %}
                      {{field}}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                      {% include 'cms/formfield.html' with field=field %}
                    {% endfor %}
                  </div>
                {% endfor %}
                <img onclick="addForm(this, '{{formset.prefix}}')" src="{% static 'cms/add_small.png' %}" width="50">
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        <img onclick="addForm(this, '{{formset.prefix}}')" src="{% static 'cms/add.png' %}" width="75" style="display:block;clear:both">
      </div>

      <div class="edit page">
        <button><img src="{% static 'cms/save.png' %}"></button>
      </div>
    </form>
  </div>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script>
    NodeList.prototype.last = function() {
        return this[this.length - 1];
    };

    function updateIndex(el) {
        let re = /^(.+)-(\d)-(.+)$/;
        let matches = el.name.match(re);
        if (matches) {
            let prefix = matches[1];
            let suffix = matches[3];
            let index = parseInt(matches[2]) + 1;
            el.name = `${prefix}-${index}-${suffix}`;
        }
    }

    function addForm(node, parent_id) {
        let base = node.previousElementSibling;
        let parent = document.getElementById(parent_id);
        let counter = parent.firstElementChild;
        let extra_form = base.cloneNode(true);
        let inputs = extra_form.querySelectorAll("input, select, textarea");
        for (input of inputs) {
            updateIndex(input);
        }
        extra_form.style.display = 'block';
        node.remove();
        parent.appendChild(extra_form);
        parent.appendChild(node);
        counter.value = parseInt(counter.value) + 1;
        setEventHandlers();
        resizeTextareas();
    }

    function resizeTextareas() {
        let tx = document.getElementsByTagName('textarea');
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute('style', 'height:0;overflow-y:hidden;');
            tx[i].style.height = (tx[i].scrollHeight) + 'px';
            tx[i].addEventListener('input', function() {
                console.log(this.scrollHeight);
                this.style.height = (this.scrollHeight) + 1 + 'px'; // why the 1???
            });
        }
    }

    function showRelevantFields(form, type) {
        let fields_per_type = {{fields_per_type|safe}};
        for (let field of form.querySelectorAll('div.field')) {
            field.style.display = 'none';
        }
        for (let name of fields_per_type[type]) {
            for (let field of form.querySelectorAll('div.field.' + name)) {
                field.style.display = 'block';
            }
        }
    }

    function setEventHandlers() {
        for (let typefield of document.querySelectorAll('select.type')) {
            let form = document.getElementById(typefield.dataset.form);
            let type = typefield.value.toLowerCase();
            showRelevantFields(form, type);
            typefield.addEventListener('input', function() {
                type = typefield.value.toLowerCase();
                showRelevantFields(form, type);
                resizeTextareas();
            });
        }
    }

    setEventHandlers();
    resizeTextareas();
  </script>
{% endblock %}
