{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}

    <div class="wrapper">
      {% if form.errors or formset.errors %}
        <div class="global_error">
          {% blocktrans %}
            Please correct the errors below and save again
          {% endblocktrans %}
        </div>
      {% endif %}
      {% for field in form %}
        {% include 'cms/formfield.html' with field=field %}
      {% endfor %}
    </div>

    {{formset.management_form}}
    {% for form in formset %}
      {{form.media}}
      {% for field in form.hidden_fields %}
        {{field}}
      {% endfor %}
      <section>
        <div class="wrapper">
          <h1>{% trans 'Section' %}: {{form.instance.title}}</h1>
          {% for field in form.visible_fields %}
            {% include 'cms/formfield.html' with field=field %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}

    <div class="edit">
      <button>{% trans 'save' %}</button>
    </div>
  </form>
{% endblock %}
