{% load static %}

<fieldset id="{{form.prefix}}" class="form">
  {{form.media}}
  {% for field in form.hidden_fields %}
    {{field}}
  {% endfor %}
  {% for field in form.visible_fields %}
    {% include 'cms/formfield.html' with field=field %}
  {% endfor %}
  {% for formset in form.formsets %}
    <div id="{{formset.prefix}}" class="formset {{formset.name}}">
      {{formset.management_form}}
      {% for form in formset %}
        {% include 'cms/form.html' %}
      {% endfor %}
      <img onclick="addForm(this, '{{formset.prefix}}')" src="{% static 'cms/add.png' %}">
    </div>
  {% endfor %}
</fieldset>

