{% extends 'base.html' %}
{% load static %}
{% load cms %}

{% block title %}{{block.super}} - {{page.title}}{% endblock %}

{% block content %}
  {% for section in sections %}
    <div id="{{section.title|slugify}}"></div>
    {% include_section section %}
  {% endfor %}

  {% if perms.cms_page.change %}
    <div class="edit page">
      <a href="{% if page.slug %}{% url 'cms:updatepage' page.slug %}{% else %}{% url 'cms:updatepage' %}{% endif %}"><img src="{% static 'cms/edit.png' %}"></a>
    </div>
  {% endif %}

{% endblock %}
