{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} - {{object.title}}{% endblock %}

{% block content %}
  <div class="edit">
    {% if user.is_staff %}
      {% if object.slug %}
        <a href="{% url 'cms:updatepage' object.slug %}">{% trans 'edit this page' %}</a>
      {% else %}
        <a href="{% url 'cms:updatehomepage' %}">{% trans 'edit this page' %}</a>
      {% endif %}
    {% else %}
      <a href="{% url 'login' %}">{% trans 'login' %}</a>
    {% endif %}
  </div>

  {% for section in object.sections.all %}
    <section class="{{section.type}} color{{section.color}}">
      <div class="wrapper">
        {% include 'cms/sections/'|add:section.type|add:'.html' %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
