{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{block.super}} - {{object.title}}{% endblock %}

{% block content %}
  <div class="edit page">
    {% if user.is_staff %}
      {% if object.slug %}
        <a href="{% url 'cms:updatepage' object.pk %}">{% trans 'edit this page' %}</a>
      {% else %}
        <a href="{% url 'cms:updatehomepage' %}">{% trans 'edit this page' %}</a>
      {% endif %}
    {% else %}
      <a href="{% url 'login' %}">{% trans 'login' %}</a>
    {% endif %}
  </div>

  {% for section in object.sections.all %}
    <section class="{{section.type}} color{{section.color}}">
      {% include 'cms/sections/'|add:section.type|add:'.html' %}
    </section>
  {% endfor %}

  {% if user.is_staff %}
    <section>
      <div class="wrapper">
        <div class="edit">
          <a href="{% url 'cms:createsection' object.pk %}">+ {% trans 'new section' %}</a>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
